@model PartyPlannerV6.Models.Cashier

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u dit wilt verwijderen?</h3>
<div>
    <h4>Kassière</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CashierId" />
        <input type="submit" value="Verwijder" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar lijst</a>
    </form>
</div>
