@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>PartyPlanner</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="image"></div>
    <h1>Welkom bij PartyPlanner - Jouw Partner in Feesten en Evenementen</h1>
    <p>
        Bij PartyPlanner begrijpen we dat elk moment speciaal moet zijn. Of je nu een verjaardagsfeest, een bruiloft, een bedrijfsevenement of een jubileum plant, wij staan klaar om je te helpen elk detail te perfectioneren. Met onze jarenlange ervaring en toewijding aan excellentie, zorgen wij ervoor dat jouw evenement een onvergetelijke herinnering wordt.
    </p>
    <h2>Onze Diensten</h2>
    <p>
        Evenementplanning: Ons ervaren team van evenementplanners staat voor je klaar om je te begeleiden bij elke stap van het planningsproces. We nemen de stress weg, zodat jij je kunt concentreren op het genieten van je feest.

        <br />Locatie Zoeken: Wij helpen je bij het vinden van de perfecte locatie die past bij jouw stijl en budget. Of het nu een intiem feest thuis is of een grootschalig evenement in een luxe zaal, wij hebben de connecties om de ideale plek te vinden.

        Laat je gasten genieten van heerlijke gerechten en drankjes met onze cateringdiensten. We werken samen met gerenommeerde chefs en cateraars om een menu samen te stellen dat aan al je wensen voldoet.

        <br />Decoratie en Thematische Concepten: Breng je visie tot leven met onze decoraties en thematische concepten. Van elegante bloemstukken tot creatieve feestthema's, we zorgen voor een betoverende sfeer.

        <br />Entertainment: Maak je evenement nog specialer met ons scala aan entertainmentopties, zoals live muziek, DJ's, goochelaars en meer.
    </p>
    <h3>Waarom PartyPlanner?</h3>
    <p>
        Bij PartyPlanner geloven we in aandacht voor detail, creativiteit en klantgerichtheid. We streven ernaar om jouw visie werkelijkheid te maken en je gasten te verrassen met een onvergetelijke ervaring. Onze passie voor feesten en evenementen is wat ons onderscheidt, en we kijken ernaar uit om met jou samen te werken om iets buitengewoons te creëren.
    </p>
    <h4>Contacteer Ons</h4>
    <p>
        Klaar om je volgende evenement te plannen? Neem vandaag nog contact met ons op en laat PartyPlanner je helpen om van je ideeën een werkelijkheid te maken. We staan klaar om al je vragen te beantwoorden en een vrijblijvend consult in te plannen.

        <br />E-mail: info@partyplanner.nl
        <br />Telefoon: +31 123 456 789
        <br />Adres: Nieuw-Eyckholt 300
        <br />
        <br />Volg ons op social media voor inspiratie en updates:
        <ul>
            <li><button>Facebook</button></li>
            <li><button>Instagram</button></li>
            <li><button>Twitter</button></li>
        </ul>
        PartyPlanner - Maak Herinneringen, Creëer Geluk!
    </p>
</body>
